# WordPress Database Configuration
WP_DB_NAME=wp_local
WP_DB_USER=wp_user
WP_DB_PASS=wp_pass
WP_DB_ROOT=rootpass

# Orders Database Configuration
ORD_DB_NAME=orders_local
ORD_DB_USER=orders_user
ORD_DB_PASS=orders_pass
ORD_DB_ROOT=rootpass2

# WordPress Configuration
WP_PORT=8080
WP_URL=http://localhost:8080
WP_TITLE="CV Local"
WP_ADMIN_USER=admin
WP_ADMIN_PASS=admin123
WP_ADMIN_EMAIL=admin@example.com

# API Configuration (placeholders)
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# WayForPay Configuration (TEST MODE)
# Принятие платежа
WAYFORPAY_ACCOUNT=test_merch_n1
WAYFORPAY_SECRET_KEY=flk3409refn54t54t*FNJRET
# P2P cardtransfer: test_merch_p2p
# P2P credit: p2p_credit
WAYFORPAY_DOMAIN=http://localhost:8080
WAYFORPAY_API_URL=https://secure.wayforpay.com/pay
WAYFORPAY_SERVICE_URL=http://localhost:8080/api/payments/wayforpay/callback
WAYFORPAY_RETURN_URL=http://localhost:8080/payment-success
WAYFORPAY_CURRENCY=UAH
EUR2UAH=40

ALLOWED_ORIGINS=http://localhost:8080
